<section class="hero-section">
  <h1>{{ heroData.title }}</h1>
  <p>{{ heroData.description }}</p>
</section>

<section class="about-section">
  <h2>{{ aboutUs.title }}</h2>
  <p>{{ aboutUs.description }}</p>
  <img src="{{ aboutUs.image }}" alt="About Us"  width="100px" height="100px">
</section>

<section class="products-section">
  <h2>{{ productsData.title }}</h2>
  <div class="products">
    {% for product in productsData.items %}
      <article>
        <h3>{{ product.name }}</h3>
        <p>{{ product.description }}</p>
        <img src="{{ product.image }}" alt="{{ product.name }}"  width="100px" height="100px">
      </article>
    {% endfor %}
  </div>
</section>
