    <div id="header-hero-container">
            <header>
        <div class="flex container">
          <a id="logo" href="/">{{ siteData.logoText }}</a>
          <nav>
            <button type="button" id="nav-toggle" class="hamburger-menu">
              <span class="strip"></span>
              <span class="strip"></span>
              <span class="strip"></span>
            </button>

            <ul id="nav-menu">
              {% for item in siteData.navMenu %}
                <li><a href="{{ item.url }}" class="{{ item.active }}">{{ item.label }}</a></li>
              {% endfor %}
              <li id="close-flyout"><span class="fas fa-times"></span></li>
            </ul>
          </nav>
        </div>
      </header>

      <section id="hero">
        <div class="fade"></div>
        <div class="hero-text">
          <h1>{{ heroData.title }}</h1>
          <p>{{ heroData.description }}</p>
        </div>
      </section>
    </div>

    <section>
      <div class="container">
        <div class="about-content">
          <h2>{{ aboutUs.title }}</h2>
          <p>{{ aboutUs.description }}</p>
          <img src="{{ aboutUs.image }}" alt="About Us Image" loading="lazy">
        </div>
      </div>
    </section>

    <section id="services">
      <div class="container">
        <h2>{{ productsData.title }}</h2>
        <div class="products-container">
          {% for product in productsData.items %}
            <div class="product-card">
              <div class="product-content">
                <h3>{{ product.name }}</h3>
                <p>{{ product.description }}</p>
              </div>
              <img src="{{ product.image }}" alt="{{ product.name }}">
            </div>
          {% endfor %}
        </div>
      </div>
    </section>

    <section class="our-policies">
      <h1 class="our-policies-title">{{ policiesData.title }}</h1>
      <div class="our-policies-container">
        {% for policy in policiesData.services %}
          <div class="policy-card">
            <div class="policy-image">
              <img src="{{ policy.imageSrc }}" alt="{{ policy.name }}" class="policy-img">
            </div>
            <div class="policy-content">
              <h2 class="policy-title">{{ policy.name }}</h2>
              <p class="policy-description">{{ policy.description }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </section>

    <section id="testimonials">
      <div class="container">
        <h2>{{ testimonialsData.title }}</h2>
        <div id="testimonials-slider"></div>
      </div>
    </section>

